<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="d-flex">
    <label for="lastname">Nom:</label>
    <input type="text" id="lastname" formControlName="lastname" />

    <label for="firstname">Prénom:</label>
    <input type="text" id="firstname" formControlName="firstname" />

    <label for="address">Adresse:</label>
    <input type="text" id="address" formControlName="address" />

    <label for="zipcode">Code postal:</label>
    <input type="text" id="zipcode" formControlName="zipcode" />

    <label for="city">Ville:</label>
    <input type="text" id="city" formControlName="city" />

    <label for="card">Numéro de carte:</label>
    <input type="text" id="card" formControlName="card" />

    <label for="cardDate">Date de validité de la carte:</label>
    <input type="date" id="cardDate" formControlName="cardDate" />

    <button type="submit" [disabled]="userForm.invalid">
      Confirmer la commande
    </button>
  </div>
</form>
