<div class="d-flex">
  <div *ngIf="articlesPanier.length > 0; else emptyPanier">
    <h2>Contenu du Panier</h2>
    <table class="table panier-table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Quantité</th>
          <th>Prix unitaire</th>
          <th>Prix total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articlesPanier">
          <td>{{ article["Unique Entry ID"] }}</td>
          <td>{{ article.Name }}</td>
          <td>
            <button (click)="decreaseQuantity(article)">-</button>
            {{ article.quantity }}
            <button (click)="increaseQuantity(article)">+</button>
          </td>
          <td>{{ article.price }}</td>
          <td>{{ article.totalPrice }}</td>
          <td>
            <button (click)="removeFromPanier(article)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #emptyPanier>
    <h2>Le panier est vide.</h2>
  </ng-template>
</div>

<div class="d-flex-2" *ngIf="articlesPanier.length > 0">
  <h3>Prix total du panier: {{ getTotalPrice() }} €</h3>
  <button (click)="clearPanier()">Vider le panier</button>
  <button routerLink="/checkout">Payer</button>
</div>
