<div class="d-flex">
  <div *ngFor="let article of articles">
    <div class="card">
      <img [src]="article['Closet Image']" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-title">{{ article.Name }}</h2>
        <p class="card-text">Saison: {{ article["Seasonal Availability"] }}</p>
        <p class="card-text">Prix: {{ article.Buy }} €</p>

        <label for="quantity">Quantité:</label>
        <input
          type="number"
          id="quantity"
          name="quantity"
          min="1"
          placeholder="0"
          [formControl]="quantityForm"
        />

        <button
          (click)="addToCart(article)"
          [disabled]="article.Buy.toString() === 'NFS'"
        >
          Ajouter au panier
        </button>
      </div>
    </div>
  </div>
</div>
